/* Layout
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
  padding: 0 0 0;
  background-color: #fff;
  color: #053D47;
  margin: 0;
}

nav {
  float: right;
  margin-top: .5em;
  a {
    color: #999999;
    margin: 0 10px 0 10px;
  }
  a:active{
    border-bottom: 1px #000 solid;
  }
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
    li {
      display: block;
      padding: 7px;
    }
}
a{
  color: #a4c853;
}

img {
  display: inherit;
}

/* .margin-space-top{
  margin-top: 5rem;
} */

/* Headers
-------------------------------------------------------------- */
h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}
  a {

  }
  a:hover {
    color: #37a0ff;

  }
nav a{
  text-decoration: none;
}

/* Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  h1 { font-size: 1.5rem; }
}

h3 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  letter-spacing: -1px;
  line-height: 1;
  font-weight: normal;
}

p {
  color: #053D47;
  margin: 0 auto;
  max-width: 40rem;
}

/* Design
-------------------------------------------------------------- */

.mad-lib{
  font-size: 3rem;
}

.image-wrapper{
  position: relative;
  .underlay{
    background-color: #505050;
    color:  #e67f1f;
    height: 34px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 1;
  }
}
.active {
  color: #2b79b6;
  border-bottom: 1px #2b79b6 solid;
}

ul.grid{
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
    li{
      display: block;
      float: left;
      padding: 7px;
    }
}

.rvm-image-wrapper img{
    max-width:100% !important;
    display:block;
    margin: 0 auto;
}

section.color-stripe:nth-of-type(odd) {
  border-top: none;
  background-color: #ffffff;
  color: #505050;
  p {
    color: #505050;
  }
}

.green-highlight{
  color: #a4c853;
}


.non-block-header{
  display: inline;
  float: left;
}

.container {
  margin: 0 auto;
  max-width: 67rem;
  width: 90%;
}

.row {
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
}

.row:last-of-type { margin-bottom: 0; }

@media (min-width: 40rem) {
  .column {
    float: left;
/*     padding-left: 1rem;
    padding-right: 1rem; */
  }
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
  .row { padding: 1rem 0 0 0; }
}
@media (max-width: 1024px) and (min-width: 700px){
  ul.grid {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
      li{
        display: block;
        float: none;
        padding: 7px;
      }
  }
  ul.social-icon li{
    float: left;
  }
}
@media (max-width: 35rem) {
  .non-block-header{
    display: inline;
    float: none;
  }
  nav{
    float: none;
  }
  ul.grid {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: none;
      li{
        display: block;
        float: none;
        padding: 7px;
      }
  }
  ul.social-icon li{
    float: left;
  }
  section.body-style{
    background: #f5f5f5;
    padding: 30px 0 30px;
  }
  .header-style{
    background: #ffffff;
    padding: 20px 0 20px;
  }
  .footer-style{
    background: #ffffff;
    padding: 20px 0 20px;
  }
}

/* Clearfix by Nicolas Gallagher
-------------------------------------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* Hidden Nav
-------------------------------------------------------------- */

select, input {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;

  //
  border: none;
  background: transparent;
  font-family: inherit;
  //font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;

  line-height: inherit;
  display: inline-block;
  color: #b14943;
  cursor: pointer;
  border-bottom: 1px dashed #b14943;
  text-decoration:line-through
}
/* input {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
} */